APP_ENV=development
APP_PORT=
APP_NAME=erm-dokter

LOG_FORMAT=json
LOG_LEVEL=info
LOG_FILE_PATH=logs/app.log

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

JWT_SECRET=
USER_KEY=
PASSWORD_KEY=

ENCRYPTION_KEY=

SERVICE_API_KEY=

CORS_ORIGIN=*

MAX_EDIT_REKAM_MEDIS_JAM=

URL_BERKAS_DIGITAL=

KODE_BERKAS_LAB_PK=
KODE_BERKAS_LAB_PA=
KODE_BERKAS_LAB_MB=

LOGIN_RATE_LIMIT_ENABLED=true
LOGIN_RATE_LIMIT_RATE=20
LOGIN_RATE_LIMIT_WINDOW_MINUTES=1

EKLAIM_KODE_RS=
EKLAIM_BASE_URL=
EKLAIM_ENCRYPTION_KEY=
EKLAIM_NIK_CODER=
